#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=Media Browser
Exec=media-browser %F
Terminal=false
Type=Application
StartupNotify=true
Icon=eu.fangornsrealm.MediaBrowser
Categories=COSMIC EXT;Utility;Graphics;Video;Audio;Viewer;Player;Database
Keywords=Media;Manager;Player
MimeType=inode/directory;
